In [1]:
import requests
import json
import pandas as pd
import numpy as np
import re
import math

response = requests.get('https://care.personcentredsoftware.com/mcm/api/v1/dc7d2fea-29a0-4a3d-98cc-b63789242bad/organisationapi/Get/serviceusers?includecontacts=true').text;
response_info = json.loads(response)

In [2]:
# # returns the full name of the first service user
# userName = serviceUser['firstName'] + " " + serviceUser['lastName']

# # returns the room of the first service user
# userRoom = serviceUser['room']

# # returns an array with phone numbers of the first relationship of the first service user
# relationshipPhones = response_info[0]['serviceUsers'][0]['relationships'][0]['telephone']

# # returns true if the relationship is for an emergency contact
# isEmergencyContact = relationship['emergencyContact']

# # returns an array of the email of the first relationship of the first service user
# relationshipEmail = response_info[0]['serviceUsers'][0]['relationships'][0]['email']

In [3]:
firstNames = []
lastNames = []
userRooms = []
telephones = []
emergency = []
email = []

def getUserInformation(): 
    for serviceUser in response_info[0]['serviceUsers']:
        for relationship in serviceUser['relationships']:
            firstName = serviceUser['firstName']
            lastName = serviceUser['lastName']
            userRoom = serviceUser['room']
            relationshipPhones = relationship['telephone']
            isEmergencyContact = relationship['emergencyContact']
            relationshipEmail = relationship['email']
            
            firstNames.append(firstName)
            lastNames.append(lastName)
            userRooms.append(userRoom)
            telephones.append(relationshipPhones)
            emergency.append(isEmergencyContact)
            email.append(relationshipEmail)

In [4]:
getUserInformation()

In [5]:
flex_df = pd.DataFrame(columns=['FirstName','Last Name','Room','Emergency Contact','Phones','Email'])

In [6]:
flex_df['FirstName'] = firstNames
flex_df['Last Name'] = lastNames
flex_df['Room'] = userRooms
flex_df['Phones'] = telephones
flex_df['Emergency Contact'] = emergency
flex_df['Email'] = email

In [7]:
flex_df

,FirstName,Last Name,Room,Emergency Contact,Phones,Email
0,Carol,Greenhouse,D01,True,"[07753247043, 01403 217625]",[]
1,Carol,Greenhouse,D01,False,[],[]
2,Carol,Greenhouse,D01,False,"[01392 251 991, 07714 752 368]",[simonpapworth6742@hotmail.com]
3,Carol,Greenhouse,D01,False,[],[jon@demo.mcm]
4,Carol,Greenhouse,D01,False,"[01344412310, 07789755766]",[j@a.f]
...,...,...,...,...,...,...
144,Jennifer,Jones,10,False,"[2423423423423, 423423423423]",[]
145,Jennifer,Jones,10,False,[0191 237654],[]
146,Jennifer,Jones,10,False,[],[k.papworth@pcsw.care]
147,Jennifer,Jones,10,False,"[2423423423423, 423423423423]",[]
148,Jennifer,Jones,10,False,[0191 237654],[]

In [8]:
phone_data1 = []
phone_data2 = []

for index, row in flex_df.iterrows():
    if len(row['Phones']) > 1: 
        phone_data1.append(row['Phones'][0])
        phone_data2.append(row['Phones'][1])      
    elif len(row['Phones']) == 1:
      
        if len(row['Phones'][0]) > 0:
            phone_data1.append(row['Phones'][0])
            phone_data2.append(0) 
        else:
            phone_data1.append(0)
            phone_data2.append(0)

flex_df["Phone1"] = phone_data1
flex_df["Phone2"] = phone_data2

In [9]:
flex_df

,FirstName,Last Name,Room,Emergency Contact,Phones,Email,Phone1,Phone2
0,Carol,Greenhouse,D01,True,"[07753247043, 01403 217625]",[],07753247043,01403 217625
1,Carol,Greenhouse,D01,False,[],[],0,0
2,Carol,Greenhouse,D01,False,"[01392 251 991, 07714 752 368]",[simonpapworth6742@hotmail.com],01392 251 991,07714 752 368
3,Carol,Greenhouse,D01,False,[],[jon@demo.mcm],0,0
4,Carol,Greenhouse,D01,False,"[01344412310, 07789755766]",[j@a.f],01344412310,07789755766
...,...,...,...,...,...,...,...,...
144,Jennifer,Jones,10,False,"[2423423423423, 423423423423]",[],2423423423423,423423423423
145,Jennifer,Jones,10,False,[0191 237654],[],0191 237654,0
146,Jennifer,Jones,10,False,[],[k.papworth@pcsw.care],0,0
147,Jennifer,Jones,10,False,"[2423423423423, 423423423423]",[],2423423423423,423423423423
148,Jennifer,Jones,10,False,[0191 237654],[],0191 237654,0

In [10]:
del flex_df['Phones']

In [11]:
flex_df

,FirstName,Last Name,Room,Emergency Contact,Email,Phone1,Phone2
0,Carol,Greenhouse,D01,True,[],07753247043,01403 217625
1,Carol,Greenhouse,D01,False,[],0,0
2,Carol,Greenhouse,D01,False,[simonpapworth6742@hotmail.com],01392 251 991,07714 752 368
3,Carol,Greenhouse,D01,False,[jon@demo.mcm],0,0
4,Carol,Greenhouse,D01,False,[j@a.f],01344412310,07789755766
...,...,...,...,...,...,...,...
144,Jennifer,Jones,10,False,[],2423423423423,423423423423
145,Jennifer,Jones,10,False,[],0191 237654,0
146,Jennifer,Jones,10,False,[k.papworth@pcsw.care],0,0
147,Jennifer,Jones,10,False,[],2423423423423,423423423423
148,Jennifer,Jones,10,False,[],0191 237654,0

In [12]:
email_list=[]

def emailChecker():

    for email in flex_df['Email']:
        if len(email[0])==0:
            email_list.append(0)
        else:
            email_list.append(email[0])
            
emailChecker()

In [13]:
del flex_df['Email']
flex_df['Email']= email_list
flex_df.head(15)

,FirstName,Last Name,Room,Emergency Contact,Phone1,Phone2,Email
0,Carol,Greenhouse,D01,True,07753247043,01403 217625,0
1,Carol,Greenhouse,D01,False,0,0,0
2,Carol,Greenhouse,D01,False,01392 251 991,07714 752 368,simonpapworth6742@hotmail.com
3,Carol,Greenhouse,D01,False,0,0,jon@demo.mcm
4,Carol,Greenhouse,D01,False,01344412310,07789755766,j@a.f
5,Carol,Greenhouse,D01,False,06666491597,0,s.papworth1@pcsw.care
6,Carol,Greenhouse,D01,True,0,0,sqr@demo.mcm
7,Carol,Greenhouse,D01,False,0,0,relative@clevercare.mcm
8,Carol,Greenhouse,D01,True,0,0,nicola.bond@hotmail.co.uk
9,Carol,Greenhouse,D01,False,01264 213 123,0,Alex.Trompetus@GPPratice.co.uk
10,Carol,Greenhouse,D01,True,07753247043,01403 217625,0
11,Carol,Greenhouse,D01,False,0,0,0
12,Carol,Greenhouse,D01,False,01392 251 991,07714 752 368,simonpapworth6742@hotmail.com
13,Carol,Greenhouse,D01,False,0,0,jon@demo.mcm
14,Carol,Greenhouse,D01,False,01344412310,07789755766,j@a.f

In [14]:
mobile_list = []
landline_list = []

def telephoneChecker():
    for index, row in flex_df.iterrows():
# 0,0
        if row['Phone1'] == 0:
            mobile_list.append("Check Mobile")
            landline_list.append("Check Landline")
# Mobile + ?
        elif re.search("^07", row['Phone1']) is not None:
            if row['Phone2'] == 0:
# Mobile + 0
                mobile_list.append(row['Phone1'])
                landline_list.append("Check Landline")
# Mobile + Landline (or Mobile2)
            else:
                mobile_list.append(row['Phone1'])
                landline_list.append(row['Phone2'])  
        else:
# Landline + ?
            if row['Phone2'] == 0:
# Landline + 0
                landline_list.append(row['Phone1'])
                mobile_list.append("Check Mobile")
# Landline + Mobile (or Landline2)
            else:
                landline_list.append(row['Phone1'])
                mobile_list.append(row['Phone2'])

In [15]:
telephoneChecker()

In [16]:
flex_df['Mobile'] = mobile_list
flex_df['Landline'] = landline_list
# del flex_df['Phone1']
# del flex_df['Phone2']
flex_df.head()

,FirstName,Last Name,Room,Emergency Contact,Phone1,Phone2,Email,Mobile,Landline
0,Carol,Greenhouse,D01,True,07753247043,01403 217625,0,07753247043,01403 217625
1,Carol,Greenhouse,D01,False,0,0,0,Check Mobile,Check Landline
2,Carol,Greenhouse,D01,False,01392 251 991,07714 752 368,simonpapworth6742@hotmail.com,07714 752 368,01392 251 991
3,Carol,Greenhouse,D01,False,0,0,jon@demo.mcm,Check Mobile,Check Landline
4,Carol,Greenhouse,D01,False,01344412310,07789755766,j@a.f,07789755766,01344412310

In [17]:
flex_df.to_csv(r'flex.csv')